 
th,td{
  color: black;
  margin: 2px;
}
h1{
  position:fixed;
  color: black;
  width:100vw;
  padding: 40px;
  background-color: gray;
  text-shadow: 2px 0px 2px black;
  border-bottom: 1px solid black;
  box-shadow: inset 0px 0px 20px  black;
}
h2{
  padding-top: 10px;
  color: black;
  align-items: center;
  margin: auto;
  text-decoration:underline;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 2px;
}
br{
  color: black;
}
.ij-container{
  background-color: transparent;
  padding: 10px 3px;
  margin: 2px;
color: black;
text-align: center;
font-size: larger;
border-radius: 8px;
border: 2px solid black;
}
.watage{
  background-color: transparent;
  padding: 3px 1px;
  margin: 2px;
color: black;
text-align: center;
font-size: larger;
border-radius: 40%;
border: 2px solid black;
}
.title{
  font-size: 20px;
  border-top: 2px solid black;
}
.ij-NormalisedcCntainer{
  background-color: transparent;
  padding: 10px 3px;
  margin: 2px;
color: black;
text-align: center;
font-size: larger;
border-radius: 8px;
border: 2px solid black;
min-width: 200px;
}
.table{
  
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.dataSubmit{
  padding: 10px 7px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  border: 0px;
  background-color: rgb(4, 4, 101);
  color: black;
  transition: transform 1s;
}
.dataSubmit:hover{
  transform: scale(1.02);
}
.dataSubmit:active{
  box-shadow: 0px 0px 0px black;
  margin-left: 2px;
  margin-top: 2px;
}

.vij{
  text-shadow: 2px 2px 20px blue;
  box-shadow: inset 0px 0px 70px green;
}
input{
  transition: transform 1s;
}
input:hover{
  transform: scale(1.01);
  box-shadow: inset 0px 0px 40px rgb(197, 197, 241);
}
input:focus{
   
  box-shadow: inset 0px 0px 40px rgb(197, 197, 241);

}